{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h3>{{title}}</h3>
    <hr>
    <div class="row">
      <div class="col-12">
        {% if todo %}
        <a href="#" class="btn btn-outline-primary float-end disabled">New Todo</a>
        {% else %}
        <a href="{{url_for('todo.new_todo')}}" class="btn btn-outline-primary float-end">
          <i class="bi bi-list-task"></i>
          New Todo</a>
        {% endif %}
        
        
      </div>
    </div>
    <div class="card mt-3 mb-4">
      <div class="card-header text-light text-center bg-success">
        <h4>{{title}}'s {{current_user.username}}</h4>
      </div>
      <div class="card-body">
        
        
        <form action="" method="post" novalidate>
          {{form.hidden_tag()}}
          <div class="input-group mb-3 mt-3">
            {% if form.task.errors %}
            {{form.task(class='form-control is-invalid')}}
            {{form.submit(class='btn btn-outline-success')}}
            <div class="invalid-feedback">
              {% for error in form.task.errors %}
                 <span>{{error}}</span>
              {% endfor %}
              
            </div>
            {% else %}
              {% if todo %}
                {{form.task(class='form-control')}}
                {{form.submit(class='btn btn-outline-success')}}
              {% else %}
                {{form.task(class='form-control')}}
                {{form.submit(class='btn btn-outline-success disabled')}}
              {% endif %}
            
            {% endif %}
            
            
            
          </div>
        </form>
        <div class="table-responsive mt-4">
          <table class="table table-hover">
           
            <thead>
              <tr>
                <th>#</th>
                <th>Task</th>
                <th>Action</th>
              </tr>
              
            </thead>
            <tbody>
              {% if tasks %}
                  {% for t in tasks %}
                  <tr>
                    <td>{{loop.index}}</td>
                    <td>{{t.task_name}}</td>
                    <td>
                      {% if t.completed %}
                      <a href="#" title="completed" class="btn btn-outline-success btn-sm disabled"><i class="bi bi-clipboard-check"></i></a>
                      {% else %}
                      <a href="{{ url_for('todo.task_completed', id=t.id) }}" title="uncomplete" class="btn btn-outline-primary btn-sm"><i class="bi bi-clipboard"></i></a>
                      {% endif %}
                      
                      
                    </td>
                  </tr>
                  {% endfor %}
                  
              {% else %}
                  <tr>
                    <td colspan="3" class="text-center text-danger">No Task!</td>
                  </tr>
              {% endif %}
              
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}