<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-success" href="{{ url_for('core.index') }}">Todos Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('user.index') }}">Home</a>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('core.index') }}">Home</a>
            </li>
        {% endif %}
        
        
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('todo.todos')}}">Todos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('user.account')}}">Account Info</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tasks History
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('todo.all_todos')}}">Show All Tasks</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('todo.completed_todos')}}">Show Completed Tasks</a></li>
              <li><a class="dropdown-item" href="{{url_for('todo.uncompleted_todos')}}">Show Uncompleted Tasks</a></li>
            </ul>
          </li>
          
        {% endif %}
        
        
      </ul> 
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link">Welcome, {{current_user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user.logout')}}"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user.register')}}"><i class="bi bi-card-checklist"></i> Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user.login')}}"><i class="bi bi-box-arrow-in-right"></i> Login</a>
        </li>
        {% endif %}
        
        
      </ul>
    </div>
  </div>
</nav>